# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
keras_retinanet/utils/compute_overlap.c

# Distribution / packaging
.Python
/build/
/dist/
/eggs/
/*-eggs/
.eggs/
/sdist/
/wheels/
/*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
*.cover

# IDE files
.idea/